/* ----------------  */
/* Variables    */
/* ----------------  */
/* ----------------  */
/* Custom Fonts      */
/* ----------------  */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
/* ----------------  */
/* Reset             */
/* ----------------  */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  block-size: 100%;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

img,
iframe,
audio,
video,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

svg {
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

input[type=number] {
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

fieldset,
iframe {
  border: none;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
}

h1,
h2,
h3,
.looks-h3,
h4,
h5,
h6 {
  color: hsl(215, 31%, 21%);
  font-family: "Inter", sans-serif;
  font-variant-numeric: lining-nums;
  font-weight: 400;
}

input,
label,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font: 400 1rem/1.5 Inter, sans-serif;
  min-block-size: 100svh;
  background-color: hsl(0, 0%, 100%);
  color: hsl(215, 17%, 45%);
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -----------------  */
/* Utility Classes    */
/* -----------------  */
.flow {
  --flow-space: 6rem;
}
.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--flow-space);
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap, 1rem);
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-inline-center {
  margin-inline: auto;
}

.wrapper {
  width: min(100%, 70rem);
  padding-inline: 1.5rem;
  padding-block: 2rem;
  margin-inline: auto;
}
@media screen and (min-width: 50rem) {
  .wrapper {
    padding-block: 5.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

[hidden] {
  display: none;
}

.skip-to-content {
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  padding: 0.5rem 1rem;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* Typography */
h2,
h3,
h4,
p {
  text-align: left;
}

h1 {
  font: 600 3rem/1.1 Inter, sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}
@media screen and (min-width: 45rem) {
  h1 {
    font: 600 4rem/1.1 Inter, sans-serif;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

h2 {
  font: 600 2rem/1.1 Inter, sans-serif;
  letter-spacing: -0.02em;
  margin-block-end: 2rem;
}
@media screen and (min-width: 45rem) {
  h2 {
    font: 600 3rem/1.1 Inter, sans-serif;
    letter-spacing: -0.02em;
    text-align: left;
  }
}

h3,
.looks-h3 {
  font: 600 1.5rem/1.2 Inter, sans-serif;
  letter-spacing: -0.02em;
}

h4,
.looks-h4 {
  font: 600 1.25rem/1.2 Inter, sans-serif;
  letter-spacing: -0.02em;
}

.text-preset-2 {
  font: 600 3rem/1.1 Inter, sans-serif;
  letter-spacing: -0.02em;
}

.text-preset-6 {
  font: 400 1rem/1.5 Inter, sans-serif;
}

.text-preset-7 {
  font: 400 0.875rem/1.5 Inter, sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* ----------------  */
/* Components        */
/* ----------------  */
.card--elevated {
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 16px 32px 50px 0px rgba(143, 174, 207, 0.25);
}
.card--elevated .flex-center {
  --gap: 1.25rem;
}
@media screen and (min-width: 40rem) {
  .card--elevated {
    padding: 2rem;
  }
}

.card--flat .svg-wrapper {
  margin-block-end: 2rem;
}
.card--flat h3 {
  margin-block-end: 1.5rem;
}
@media screen and (min-width: 40rem) {
  .card--flat {
    padding: unset;
  }
  .card--flat > * {
    align-self: center;
  }
  .card--flat .svg-wrapper {
    padding: unset;
    margin: unset;
  }
}

@media screen and (min-width: 40rem) {
  .card--last {
    grid-column: 1/-1;
    max-width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 45rem) {
  .card--last {
    grid-column: unset;
    max-width: unset;
    justify-self: unset;
  }
}

/* ----------------  */
/* Sections          */
/* ----------------  */
.section--intro {
  position: relative;
}
.section--intro::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, rgb(214, 230, 254) 100%);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 100%;
  height: 650px;
  z-index: -1;
}
.section--intro__text, .section--intro__title {
  text-align: center;
}
.section--intro__text {
  margin-block: 2rem;
}
@media screen and (min-width: 40rem) {
  .section--intro__text {
    margin-block: 2.5rem;
  }
}
.section--intro .bmi-logo {
  margin-block-end: 2rem;
}
@media screen and (min-width: 40rem) {
  .section--intro .bmi-logo {
    margin-block-end: 2.5rem;
  }
}
@media screen and (min-width: 50rem) {
  .section--intro .bmi-logo {
    margin-block-end: 1.5rem;
  }
}
@media screen and (min-width: 50rem) {
  .section--intro::before {
    width: min(75%, 50% + 17.5rem);
    height: 735px;
  }
  .section--intro__text-wrapper {
    align-self: center;
  }
  .section--intro__text, .section--intro__title {
    text-align: left;
  }
  .section--intro .bmi-logo {
    margin-inline: unset;
  }
}
@media screen and (min-width: 50rem) {
  .section--intro__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.bmi-logo {
  margin-inline: auto;
  width: 40px;
  height: 40px;
}

.section--theory__title {
  font: 600 2rem/1.1 Inter, sans-serif;
  letter-spacing: -0.02em;
  margin-block-start: 3rem;
}
@media screen and (min-width: 45rem) {
  .section--theory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.5rem;
  }
  .section--theory__textblock {
    align-self: center;
  }
  .section--theory__title {
    font: 600 3rem/1.1 Inter, sans-serif;
    letter-spacing: -0.02em;
    margin-block-start: unset;
  }
}
@media screen and (min-width: 45rem) {
  .section--theory {
    width: 70rem;
    margin-inline: auto;
  }
}

.section--tips {
  display: grid;
  gap: 2.5rem;
  background: linear-gradient(90deg, rgba(214, 252, 254, 0) 0%, rgb(214, 230, 254) 100%);
}
@media screen and (min-width: 40rem) {
  .section--tips .card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.25rem;
  }
}

.section--limits {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 35rem) {
  .section--limits {
    grid-template-columns: repeat(2, 1fr);
  }
  .section--limits__intro {
    grid-column: 1/-1;
  }
  .section--limits .card--last {
    grid-column: 1/-1;
    max-width: 50%;
    justify-self: center;
  }
}
@media screen and (min-width: 35rem) and (min-width: 50rem) {
  .section--limits .card--last {
    grid-column: 7/11;
    max-width: unset;
    justify-self: unset;
  }
}
@media screen and (min-width: 45rem) {
  .section--limits {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
  }
  .section--limits__intro {
    grid-column: 1/7;
    grid-row: 1;
  }
  .section--limits .card:nth-child(2) {
    grid-column: 8/12;
    grid-row: 1;
  }
  .section--limits .card:nth-child(3) {
    grid-column: 5/9;
    grid-row: 2;
  }
  .section--limits .card:nth-child(4) {
    grid-column: 9/13;
    grid-row: 2;
  }
  .section--limits .card:nth-child(5) {
    grid-column: 3/7;
    grid-row: 3;
  }
}

/* ----------------  */
/* Layout            */
/* ----------------  */
.calculator {
  background-color: hsl(0, 0%, 100%);
  color: hsl(215, 31%, 21%);
  border-radius: 24px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 50rem) {
  .calculator {
    align-self: center;
  }
}
.calculator__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.calculator__radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.calculator__radio {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.calculator__radio-input {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid hsl(215, 17%, 45%);
  border-radius: 999px;
  cursor: pointer;
  flex-shrink: 0;
}
.calculator__radio-input:checked {
  background-color: hsl(227, 92%, 58%);
  border: 0.5rem solid hsl(228, 94%, 94%);
  outline: 0.25rem solid hsl(228, 94%, 94%);
  outline-offset: -1px;
}
.calculator__radio-label {
  font: 400 1rem/1.5 Inter, sans-serif;
  font-weight: 600;
}
.calculator__inputs {
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 40rem) {
  .calculator__inputs {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
.calculator__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.calculator__label {
  font: 400 0.875rem/1.5 Inter, sans-serif;
  color: hsl(215, 17%, 45%);
}
.calculator__bundler {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.calculator__input-wrapper {
  font: 600 1.5rem/1.2 Inter, sans-serif;
  letter-spacing: -0.02em;
  padding: 1rem 1.5rem;
  border: 1px solid hsl(215, 17%, 45%);
  border-radius: 12px;
  color: hsl(215, 31%, 21%);
  display: flex;
  align-items: center;
  width: 100%;
}
.calculator__input-wrapper input {
  border: none;
  background-color: transparent;
  flex: 1;
  outline: none;
  min-width: 0;
  width: 0;
}
.calculator__input-wrapper:has(input:focus-visible) {
  border-color: hsl(227, 92%, 58%);
  outline: 2px solid hsl(227, 92%, 58%);
  outline-offset: 2px;
}
.calculator__unit {
  color: hsl(227, 92%, 58%);
}
.calculator__result {
  background-color: hsl(227, 92%, 58%);
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 16px;
}
@media screen and (min-width: 40rem) {
  .calculator__result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
}
.calculator__score {
  font: 600 4rem/1.1 Inter, sans-serif;
  letter-spacing: -0.02em;
}
.calculator__feedback {
  margin-block-start: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
